<!DOCTYPE html>
<body>
    <form action="{% url 'blog:add_blog_entry' %}" method="POST">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" id="title" name="title">
        <label for="heading">Heading</label>
        <input type="text" id="heading" name="heading">
        <label for="text">Text</label>
        <input type="text" id="text" name="text">
        <input type="submit" value="Submit!">
    </form>
</body>