<!DOCTYPE html>
    <html>
        <head>
            <title>Amazing!</title>
        </head>
        <body>
            <h1>Django Response:</h1>
            <p>We can write any string here</p>
            <p>And it gets automagically wrapped</p>
            <p>into the HTTP Response!</p>
            <p>Try clicking "view page source"</p>
            <p>Our top secret operation has resulted in : {{topsecret}}</p>
        </body>
    </html>