<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{heading}}</h1>
        <p>{{text}}</p>
        <footer>Add your own: <a href="{% url 'blog:show_blog_form' %}">here</a></footer>
    </body>
</html>