<!DOCTYPE html>
<html>
    <body>
        {% if not user.is_authenticated %}
        <p>You need to login to access this page</p>
        <a href="{% url 'login' %}">Login here!</a>
        {% else %}
        <h3>All students:</h3>
        <ul>
        {% for student in students %}
            <li><a href="{% url 'student_detail' student.rollno %}">{{student.name}}</a></li>
        {% endfor %}
        </ul>
        <a href="{% url 'logout' %}">Log out</a>
        {% endif %}
    </body>
</html>