<!DOCTYPE html>
<html>
    <body>
        <h1>Bulk student upload</h1>
        <form method="POST" action="{% url 'student_bulk_upload' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="bulkmarks" >
            <input type="submit" value="submit">
        </form>
    </body>
</html>