<!DOCTYPE html>
<html>
    <body>
        <h3>LOGIN</h3>
        <p>{{message}}</p>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username"><br/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Login">
            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
        </form>
    </body>
</html>