<!DOCTYPE html>
<html>
    <body>
        <form action="{% url 'add_student' %}" method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Add student">
        </form>
    </body>
</html>