<!DOCTYPE html>
<html>
    <body>
        <h3>{{student.name}} details</h3>
        <table>
            <tr>
                <td>Subject</td>
                <td>Marks</td>
            </tr>
            {% for mark in student.marks_set.all %}
            <tr>
                <td>{{mark.subject}}</td>
                <td>{{mark.score}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                <td>{{student.total_marks}}</td>
            </tr>
            <tr>
                <td>Grade</td>
                <td>{{student.grade}}</td>
            </tr>
            <tr>
                <form action="{% url 'add_student_mark' student.rollno%}" method="POST">
                    {% csrf_token %}
                    <td><input name="subject" type="text"></td>
                    <td><input name="score" type="text">
                    <input type="submit" value="Add mark!"></td>
                </form>
            </tr>
        </table>
    </body>
</html>